@charset "UTF-8";
* {
    margin: 0; padding: 0;
    box-sizing: border-box; border-radius: 0;
    font-size: 16px; font-family: sans-serif;
}
.container {
    height: 100vh;
    display: flex; flex-direction: column;
}
iframe {
    width: 100%;
    flex: 1;
}
form { padding: 0 2px; }
.flex_box {
    display: flex; gap: 2px;
    width: 100%; max-width: 600px;
    height: 28px; line-height: 28px;
    margin-top: 2px;
}
input, select {
    border: 1px solid #555; border-radius: 0;
    padding: 0 4px;
}
.h_name { width: 100%; }
.exit {
    width: 40px;
    margin-left: auto; padding: 0 4px;
    background: #4285f4; color: white;
    cursor: pointer;
}
.comment, select, .hdn { flex: 1; }
button {
    width: 40px;
    padding: 0 8px;
    border: 1px solid #555;
    color: #4285f4;
}
a { text-decoration: none; }
.label_nico {
    background: #4285f4;
    color: white;
    padding: 0 4px;
    display: inline-flex;
    align-items: center; /* ← これで縦方向中央揃え */
}